<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link href="http://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet" type="text/css">
    <link href="css/styles.min.css" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body data-spy="scroll" data-offset="100">
    <div class="content">{{content}}</div>

    <footer>
      <div class="badges text-center">
        <p>
          <a href="https://npmjs.org/package/breezy" title="Package status" target="_blank"><img src="https://badge.fury.io/js/breezy.png"/></a>
          <a href="https://david-dm.org/daffl/breezy" target="_blank" title="Dependency status"><img src="https://david-dm.org/daffl/breezy.png"/></a>
          <a href="https://travis-ci.org/daffl/breezy" target="_blank"><img src="https://travis-ci.org/feathersjs/feathers.png?branch=master" alt="Build status" /></a>
        </p>
      </div>
      <div>
        <p> &copy; 2015 - Built by <a href="http://twitter.com/daffl" title="David Luecke" target="_blank">@daffl</a></p>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
