---
layout: default
---

<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6 with-separator">
        <div class="row text-center tagline">
          <h1>breezy</h1>
          <h2>An HTML5 view engine</h2>
        </div>
      </div>
      <div class="col-md-6">
        <p class="description">
          Breezy is a view engine for JavaScript that renders a live-updating DOM (using <a href="https://github.com/Matt-Esch/virtual-dom/" target="_blank">virtual-dom</a>) in the browser and strings in NodeJS. Create templates for client and server using HTML5 attributes and tags and simple but powerful <a href="#expressions">expressions</a>.
        </p>
        <div class="row github-links text-center">
          <p>
            <iframe src="http://ghbtns.com/github-btn.html?user=daffl&repo=breezy&type=watch&count=true"
                    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=daffl&repo=breezy&type=fork&count=true"
                    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page" id="guide">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div id="toc"></div>
      </div>
      <div class="col-md-9 page-content">
        {{ content }}
      </div>
    </div>
  </div>
</section>
